<div class="main">
    <div class="container">
        <div class="navbar">
            <div class="left">
                <div class="pro-icon">
                    <img src="../../../assets/images/vyshnav.png">
                </div>
                <div class="title">
                    <div class="name">
                        <span>Vyshnav</span>
                    </div>
                    <div class="balance">
                        <span>$4000</span>
                    </div>
                </div>
                <div class="searchbar">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                    <input class="searchingBox" type="search" placeholder="search">
                </div>
                <div class="icons">
                    <i class="fa-solid fa-grip"></i>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-chart-pie"></i>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-sliders"></i>
                </div>
            </div>
            <div class="right">
                <div class="user">
                    <i class="fa-solid fa-user-secret"></i>
                </div>
                <div class="notifications">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="feature">
                <div class="part1">
                    <div class="lefty">
                        <p>Features</p>
                    </div>
                    <div class="righty">
                        <p>tracking your expenses, <br>income, overdue bills and, <br> account balances </p>
                    </div>
                </div>
                <div class="part2">
                    <span>ASSISTANT</span>
                </div>
                <div class="part3">
                    <div class="lefty">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Home budget assistant to <br>help you manage and take <br>care of your tasks</span>
                    </div>
                    <div class="righty">
                        <span>FINANCE</span>
                    </div>
                </div>
            </div>
            <div class="transaction">
                <div class="transaction-main">
                    <div class="heading">
                        <span>Transations</span><br>
                        <span class="text2">Recent</span>
                    </div>
                    <div class="contents">
                        <div class="firstTransaction">
                            <div class="part1">
                                <div class="icon">
                                    <i class="fa-solid fa-globe"></i>
                                </div>
                                <div class="name">
                                    <span class="maintext">Internet</span> <br><span class="sub">Xfinity</span>
                                </div>
                            </div>
                            <div class="part2">
                                <span>$120</span>
                            </div>
                        </div>
                        <div class="firstTransaction">
                            <div class="part1">
                                <div class="icon">
                                    <i class="fa-solid fa-house-user"></i>
                                </div>
                                <div class="name">
                                    <span class="maintext">Utilities</span> <br><span class="sub">home</span>
                                </div>
                            </div>
                            <div class="part2">
                                <span>$250</span>
                            </div>
                        </div>
                        <div class="firstTransaction">
                            <div class="part1">
                                <div class="icon">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                </div>
                                <div class="name">
                                    <span class="maintext">Plumbing</span> <br><span class="sub">repair</span>
                                </div>
                            </div>
                            <div class="part2">
                                <span>$124</span>
                            </div>
                        </div>
                        <div class="firstTransaction">
                            <div class="part1">
                                <div class="icon">
                                    <i class="fa-solid fa-square-parking"></i>
                                </div>
                                <div class="name">
                                    <span class="maintext">Parking</span> <br><span class="sub">service</span>
                                </div>
                            </div>
                            <div class="part2">
                                <span>$400</span>
                            </div>
                        </div>
                        <div class="firstTransaction">
                            <div class="part1">
                                <div class="icon">
                                    <i class="fa-solid fa-jug-detergent"></i>
                                </div>
                                <div class="name">
                                    <span class="maintext">Laundry</span> <br><span class="sub">service</span>
                                </div>
                            </div>
                            <div class="part2">
                                <span>$25</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="leftChart">
                <div class="part1">
                    <div class="desire">
                        <span>Desires 2</span>
                    </div>
                    <div class="settings">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>
                <div class="part2">
                    <div class="itemData">
                        <div class="cover">
                            <div class="desc">
                                <div class="mains">
                                    <span class="one">Bag chair</span> <br> <span class="two">Rest zone</span>
                                </div>
                                <div class="subs">
                                    <div class="buttons">
                                        <span>view <i class="fa-solid fa-eye"></i></span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="image">
                                <img src="../../../assets/images/chairbag.jpg">
                            </div>
                        </div>
                        <div class="cover">
                            <div class="desc">
                                <div class="mains">
                                    <span class="one">Bed sheets</span> <br> <span class="two">Rest zone</span>
                                </div>
                                <div class="subs">
                                    <div class="buttons">
                                        <span>view <i class="fa-solid fa-eye"></i></span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="image">
                                <img src="../../../assets/images/bedsheet.png">
                            </div>
                        </div>
                    </div>
                    
                    <div class="progressBar">
                        <div class="proBar">
                            <div class="percentageNumber">
                                <span class="per">45%</span><br><span class="pro">progress</span>
                            </div>
                            <div class="Bar">
                                <div class="Bar2">
                                     
                                </div>
                            </div>
                        </div>
                        <div class="proBar">
                            <div class="percentageNumber">
                                <span class="per">99%</span><br><span class="pro">progress</span>
                            </div>
                            <div class="Bar">
                                <div class="Bar2-0">
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part3">

                </div>
            </div>
            <div class="rightChart">
                <div class="part1">
                    <span>Income chart</span>
                </div>
                <div class="part2">
                    <div class="mainChart">
                        <div class="topbar">
                            <div class="counts">
                                <span class="mainText">430 </span><span class="subText">Top</span>
                                <span class="mainText2">135 </span><span class="subText2">Bottom</span>

                            </div>
                            <div class="dropmenu">
                                <span class="month">February</span> <i class="fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="chartSection">
                            <div class="yaxis">
                                <div class="Y-Data">
                                    800
                                </div>
                                <div class="Y-Data">
                                    600
                                </div>
                                <div class="Y-Data">
                                    400
                                </div>
                                <div class="Y-Data">
                                    200
                                </div>
                                <div class="Y-Data">
                                    0
                                </div>
                            </div>
                            <div class="xaxis-graph">
                                <div class="bar-data" *ngFor="let i of dataForChart">
                                    <div class="onlyBar" [ngStyle]="{'height':i.progress, 'background':i.color}">
                                        
                                    </div>
                                    <div class="day-month">
                                        {{i.day}}
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
